@import url("../fonts/stylesheet.css");

/* Use the following CSS code if you want to use data attributes for inserting your icons */

[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  
}

/* Use the following CSS code if you want to have a class per icon */

/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/

.icon-arrow-right,
.icon-calendar-alt-fill,
.icon-chrome,
.icon-picassa,
.icon-skype,
.icon-cloud,
.icon-cloudy,
.icon-dropbox,
.icon-instagram {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased
}

.icon-arrow-right:before {
  content: "\e000"
}


.icon-calendar-alt-fill:before {
  content: "\e001"
}

.icon-chrome:before {
  content: "\e002"
}

.icon-picassa:before {
  content: "\e003"
}

.icon-skype:before {
  content: "\e004"
}

.icon-cloud:before {
  content: "\e005"
}

.icon-cloudy:before {
  content: "\e006"
}

.icon-dropbox:before {
  content: "\e007"
}

.icon-instagram:before {
  content: "\f16d"
}

.clearfix {
  *zoom: 1
}

html {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden
}

body {
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  position: absolute;
  background-attachment: fixed !important;

}

ul {
  list-style-type: none
}
header{
	background:#1b82c2;
	width:100%;
}
header .logo{
	padding: 6px 0;
	float:left;
	
}
header .logoIcon{
	padding-top: 18px;
	float:left;
}
.header_title{
	font-size:30px;
	padding-top: 8px;
	float:left;
	padding-right:12px;
	color:white;
	float:left;
	margin-left:10px;
	font-family:'museo300' 'museo500' 'museo700';
}
.header_sub_heading{
	font-size:20px;
	color:white;
	padding-top: 12px;
	float:right;
	font-family:'museo300';
	
}
.ContentImg{
	background:url(../images/bg.jpg) center no-repeat #ddecf3;
	width:100%;
	min-height:400px;
}
footer{
	border-top:1px solid #8cc6e6;
	
	
	bottom:0;
}
.bgGradient{
	background: rgb(158,188,206); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzllYmNjZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE2JSIgc3RvcC1jb2xvcj0iI2Y1ZjlmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  rgba(158,188,206,1) 1%, rgba(245,249,250,1) 16%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(158,188,206,1)), color-stop(16%,rgba(245,249,250,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(158,188,206,1) 1%,rgba(245,249,250,1) 16%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(158,188,206,1) 1%,rgba(245,249,250,1) 16%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(158,188,206,1) 1%,rgba(245,249,250,1) 16%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(158,188,206,1) 1%,rgba(245,249,250,1) 16%); /* W3C */
	width:100%;
	background-size:100%;
}

.start_button{
	background: url(../images/start.png) bottom no-repeat;
	width: 248px;
	height: 147px;
	border: 0;
	outline: 0;
	margin-top: 35px;
	margin-bottom: 0;
	cursor: pointer;
	padding: 0;
	border: 0;
	
}

.noPadding{
	padding:0;
}
.footerText{
	margin-top: 54px;
	color:#1b82c2;
	line-height: 20px;
	font-family:'museo300';

}
footer h5{
	font-size: 15px;
	text-align: center;
}
.rightFooter{
	margin-top: 42px;
}
footer p{
	font-size:14px;
	color:#9aa0a6;
	font-family:'museo300';
}
.footerStrip{
	padding-left:20px;
}
.itemContainer{
	background: #fff;
border: 8px solid #dee5e9;
padding: 15px;
}
.itemTitle{
	margin-top: 40px;
	color:#1b82c2;
	font-family:'museo300';
	font-weight:bold;

}
.itemTitleP{
	color:#1b82c2;
	font-family:'museo500';
}
.borderleft{
	border-left:1px solid #dfe1e1;
	
}
.formName{
	margin-left: 10%;
	width: 90%;
}
.formName input{
	width: 97%;
	padding:1%;
}
.formName fieldset{
	margin-bottom: 28px;
	font-family:'museo500';
}
.formName label{
	
	color:#1b82c2;
	
}
.formName button{
	background:url(../images/next.png) no-repeat;
	width:84px;
	height:30px;
	border:none;
	outline:none;
	float:right;
	margin-right:3%;
}
.clearBottom{
	width:100%;
	min-height:200px;
	float:left;
}
.country{
	background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(44,153,221,1) 7%, rgba(73,175,239,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(7%,rgba(44,153,221,1)), color-stop(100%,rgba(73,175,239,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(44,153,221,1) 7%,rgba(73,175,239,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(44,153,221,1) 7%,rgba(73,175,239,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(44,153,221,1) 7%,rgba(73,175,239,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(44,153,221,1) 7%,rgba(73,175,239,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#49afef',GradientType=0 ); /* IE6-9 */
	width: 80%;
	margin-bottom:10px;
	display: inline-block;
}
.UserTitle{
	margin-top: 10px;
	color:#1b82c2;
	margin-bottom:40px;
	font-family:'museo500' 'museo700';
}
.Singapore{
	background-position: 100% -256px !important;
}
.Indonesia{
	background-position: 100% -76px !important;
}
.Malaysia{
	background-position: 100% -148px !important;
}
.Vietnam{
	background-position: 100% -220px !important;
}
.Philippines{
	background-position: 100% -183px !important;
}
.Thailand{
	background-position: 100% -40px !important;
}
.Sri{
	background-position: 100% -112px !important;
}
.Pakistan{
	background-position: 100% -3px !important;
}
.usage{
	background:url(../images/usage.jpg) no-repeat;
	width: 149px;
	height: 152px;
	margin-bottom:10px;
	display: inline-block;
}
.work{
}
.play{
	background-position: -154px 0;
}
.both{
	background-position: -316px 0;
}
.usage_detail{
	background:url(../images/usage_detail.jpg) no-repeat;
	width: 108px;
	height: 108px;
	margin-bottom:10px;
	display: inline-block;
}
.workhigh{
}
.playhigh{
	background-position: -122px 0;
}
.bothhigh{
	background-position: -244px 0;
}
.worklow{
	background-position: -469px 0;
}
.playlow{
	background-position:  -593px 0;
}
.bothlow{
	background-position:  -714px 0;
}
.mobility{
	background:url(../images/mobility.jpg) no-repeat;
	width: 149px;
	height: 152px;
	margin-bottom:10px;
	display: inline-block;
	cursor:pointer;
}
.tablet{
}
.desktop{
	background-position: -154px 0;
}
.laptop{
	background-position: -316px 0;
}
.marginTop{
	margin-top:20px;
}
.mrgTop{
	margin-top: 4%;
}
.leftPos{
	-webkit-transform: translateX(220%);
	-webkit-transition: -webkit-transform 1s;
	-ms-transform:: translateX(220%);
	-ms-transition:: -ms-transform 1s;
	transform: translateX(220%);
	transition:: transform 1s;
	transition-property: transform;
	transition-duration: 1s;
	
	position: absolute;
	left: 7%;
	top: 15%;
	width:100%;
	height:0;
	overflow:hidden;
	padding-bottom:5%;
	
}
.leftPos2{
	-webkit-transform: translateX(0%);
	-webkit-transition: -webkit-transform 1s;
	-ms-transform:: translateX(0%);
	-ms-transition:: -ms-transform 1s;
	transform: translateX(0%);
	transition:: transform 1s;
	transition-property: transform;
	transition-duration: 1s;
	
	position: absolute;
	left: 7%;
	top: 15%;
	width:100%;
	display:none;
	overflow:hidden;
	padding-bottom:5%;
	
}
.op0{
	opacity:0;
}
.hideMe{
	display:none;
}
.usage_detailSelect,.usageSelect,.counterSelect{
	cursor:pointer;
}
.mainBg,footer{
	-webkit-transition:-webkit-transform 1s;
	-ms-transition:-ms-transform 1s;
	transition:transform 1s;
}
.selectBox{
	width:100%;
	padding:5px;
}
.showMatched{
	background: url(../images/show_catalog.png) no-repeat;
	width: 165px;
	height: 27px;
	border: 0;
	outline: 0;
	margin-top: 7px;
	
}
.bubble 
{
position: relative;
width: 100%;
height: auto;
padding: 0px;
background: #1b82c2;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding: 4%;
color: white;
min-height: 246px;
}
.bubble h3{
	margin: 0;
	margin-bottom: 15px;
	font-family:'museo500';
}
bubble p{
	font-family:'museo300';
}
.prodDisp h1{
	font-family:'museo500';
}
.prodDisp h1{
	font-family:'museo300';
	font-size: 30px;
}
.prodDisp p{
	font-size: 13px;
}
.colorBlue h1{
	font-family:'museo700';
}
.colorBlue p{
	font-family:'museo300';
}
.bubble:after 
{
	content: "";
	position: absolute;
	bottom: -15px;
	left: 48%;
	border-style: solid;
	border-width: 15px 15px 0;
	border-color: #1b82c2 transparent;
	display: block;
	width: 0;
	z-index: 1;
}
.prodImg,.prodBottom,.prodImgInner{
	margin-top:20px;
	cursor:pointer;
}
.more{
	background: url(../images/more.png);
	width: 81px;
	height: 19px;
	border: none;
	outline: none;
	float: right;
	margin-right: -3.3%;
	margin-top: -1%;
	margin-bottom: 2%;
}
.more_list{
background: url(../images/more.png);
width: 81px;
height: 19px;
border: none;
outline: none;
float: right;
margin-right: -4.3%;
margin-top: -1%;
margin-bottom: 2%;
}
.prodThumb{
	background:#FFF;
	border-radius:10px;
	border:1px solid #c4dce9;
	padding: 0%;
}
.prodDisp{
	padding:10px;
	background:#1b82c2;
	color:white;
	min-height: 263px;
}
.clearProd{
	width:100%;
	min-height:50px;
	float:left;
	clear: both;
}
.clearProdBottom{
	width:100%;
	min-height:50px;
	clear: both;
	
}
.bkMatched{
	background:url(../images/back.jpg) no-repeat;
	width: 192px;
	height: 28px;
	border: 0;
	outline: 0;
	margin-top: 7px;
}
.completeProduct{
	background:url(../images/complete.jpg) no-repeat;
	width: 223px;
	height: 28px;
	border: 0;
	outline: 0;
	margin-top: 7px;
}
.price{
	font-size:33px;
	color:#66ab2b;
	font-weight:bold;
	font-family:'museo700';
	display:none;
}
.fb{
	margin-top: 15px;
}
.borderTop{
	border-top:1px solid #e4e5e5;
	margin-top:5%;
	padding-top:5%;
}
.col-sm-4,.col-sm-8{
	font-size: 13px;
}
.colored{
	background:#dbecf5;
}
.subHeading{
	width:100%;
	border-bottom:1px solid #e4e5e5;
	color:#1b82c2;
	font-size:25px;
}
.listing li{
	color:#76838b;
	font-size:14px;
	font-weight:bold;
	padding:5px;
}
.colorBlue{
	color:#1b82c2;
}
.preLoader{
	position:fixed; left:0;  width:100%; z-index:9999;bottom:0;
	background:#FFF;
	border-top:2px solid #e4e5e5;
	
	
}
.preLoaderEmail{
	position:fixed; left:0;  width:100%; z-index:9999;bottom:0;
	background:#FFF;
	border-top:2px solid #e4e5e5;
	color:#66ab2b;
	display:none;
}
.prodLt{
	display:none;
}
.strip{
	width:80%;
}
iframe{
	width: 100%;
	height: 441px;
	border: 0;
	overflow: hidden;
}
.colorGrey{
	color:#a0abb2;
	font-family:'museo300';
	padding-left: 15px;
	padding-right: 15px;
}
.paddingLeft{
	padding-left: 4%;
}
.paddingRight{
	padding-right: 4%;
}
.col-sm-3 label{
	font-family:'museo300';
}
.sliderImgThumb{
	width: 25%;
	border: 1px solid #dee5e9;
	padding: 1px;
	cursor:pointer;
	margin:2px;
	float:left;
	
}
.BkButton{
	background:url(../images/backImg.jpg) no-repeat;
	border: 0;
	outline: 0;
	width: 78px;
	height:28px;
}
.countryButton{
	background: url(../images/flags.png) right no-repeat;
	background-position: 100% -291px;
	width: 100%;
	margin: 0;
	padding: 0;
	padding-top: 4px;
	padding-bottom: 4px;
	color: white;
	font-size: 20px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor:pointer;
}
.shareText{
	text-align: left;
color: #1973ab;
font-weight: bold;
font-size: 13px;
}

.prodImgInner{
	max-height: 247px;
	width: auto;
	max-width:100%;
}